# Build output
target/
out/
*.class

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.apt_generated/
.classpath
.factorypath
.project
.settings/
bin/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Visual Studio Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db
